

@{
    ViewData["Title"] = "CardTest";
}

<h1>CardTest</h1>

@* Get names of all pokemon *@
@{
    var pokemons = CardMethods.GetPokemonCards();

    foreach (var card in pokemons)
    {
        @*<p>@card.images</p>*@
        <img src=@card.images.small/>
    }
}
