
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    

}


<h1>CardTest</h1>
@*<ul>
    @{
        var cards = await PokemonTcgSdk.Card.AllAsync();

        foreach (var card in cards)
        {
            <li>@card.Name</li>
        }
    }
<<<<<<< HEAD
</ul>


=======
</ul>*@

@{

}
>>>>>>> b2db8c049592d78c9d77ce74a6c5564f8e5b09e2
