
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    

}


<h1>CardTest</h1>
<ul>
    @{
        var cards = await PokemonTcgSdk.Card.AllAsync();

        foreach (var card in cards)
        {
            <li>@card.Name</li>
        }

    }
</ul>


