

@{
    ViewData["Title"] = "CardTest";
}

<h1>CardTest</h1>

@* Get names of all pokemon *@
@{
    var pokemons = CardMethods.GetPokemonCards().data;

    foreach (var card in pokemons)
    {
        <p>@card.name</p>
    }
}
