@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
     @{
                PokemonCard card = await PokeApi.GetSingleCard("pl1-1");
         <img src="@card.data.images.large"/>
            }

    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
