@using System.Security.Claims;
@using System.Security.Principal;
@using PokemonApp.Controllers;
@{ 

    ViewData["Title"] = "MarketPlace";
    Random rnd = new Random();
    var pokemons = CardMethods.GetPokemonCards();
    var randomi = pokemons.OrderBy(x => rnd.Next()).Take(1);
    PokemonDBContext tyyppi = new PokemonDBContext();



}
﻿

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Pokemon</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/profiili.css" />
    <script src="~/js/Navbar.js" defer></script>
</head>

<body>

    <h1>Profile</h1>

    <div class="taistelu">
        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>

        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>

        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>

        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>

        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>

        <h1>@User.Identity.Name</h1>







    </div>
    <script src="~/js/korttiliike.js"></script>

    <div class="omistuskortit">

        @{
            @*var henkilo = User.Claims.ToList();

            foreach(var i in henkilo)
            {

                var tietty = from x in henkilo where x.Type. select x;

                //<h1>@claim.Type</h1>
                <h1>@claim.</h1>*@


            var keijo = DbController.GetUser(User.Identity.Name);

            // var keijo69 = from x in keijo.PokemonCards
            //             where x.PokemonId == pokemons.

            foreach (var i in pokemons)
            {

                foreach (var k in keijo.PokemonCards)
                {
                    var keijo69 = from x in pokemons where i.id == k.PokemonId select x;

                    foreach (var o in keijo69)
                    {
                        <img src=@o.images.small class="fill" draggable="true" width="150" height="185" />
                    }
                    
                }



            }
        }
    </div>




</body>
