@using System.Security.Claims;
@using System.Security.Principal;
@using PokemonApp.Controllers;
@{ 

    ViewData["Title"] = "MarketPlace";
    Random rnd = new Random();
    var pokemons = CardMethods.GetPokemonCards();
    var randomi = pokemons.OrderBy(x => rnd.Next()).Take(1);
    PokemonDBContext tyyppi = new PokemonDBContext();



}
﻿

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Pokemon</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/profiili.css" />
    <script src="~/js/Navbar.js" defer></script>
</head>
<body>
    <h1>Profile</h1>

    <div class="taistelu">
        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" /> 
            }

        </div>

        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>

        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>

        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>

        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>
    </div>
    <script src="~/js/korttiliike.js"></script>

    <div class="omistuskortit">

        @{

            var keijo = DbController.GetUser(User.Identity.Name);
            var pokke = keijo.PokemonCards.ToList();

            @*foreach (var i in pokke)
            {
                var uusikeijo = from x in pokemons where x.id == i.PokemonId select x.images.small;
                <img src=@uusikeijo class="fill" draggable="true" width="150" height="185" />

            }*@
       //var vertaaId = keijo.PokemonCards.Select(x => x.PokemonId);
        var simo69 = from x in tyyppi.PokemonCards where x.User == keijo.Id select x;
        if (simo69 != null)
        {
            foreach (var i in pokemons.Where(x => x.id == simo69.ToString()))
            {
                    <img src=@i.images.small class="fill" draggable="true" width="150" height="185" />
                    }
                }
                //var simo69 = from x in tyyppi.PokemonCards where x.User == keijo.Id select x;
                //foreach (var i in simo69)
                //{

                //    foreach (var o in pokemons)
                //    {
                //       var z = (from x in o.id )
                //            <img src=; class="fill" draggable="true" width="150" height="185" />
                //        }


            }




        }
        }


    </div>



</body>
