
@{
    ViewData["Title"] = "Profile";
}
<body>
    <div class="taistelu">
        <div class="kortti">
        <div class="fill" draggable="true"> </div>
         </div>

        <div class="kortti">
         </div>

    <div class="kortti">
    </div>

    <div class="kortti">
    </div>

    <div class="kortti">
    </div>
    </div>
    <script src="~/js/korttiliike.js"></script>
</body>
<h1>Profile</h1>

