@{
    ViewData["Title"] = "MarketPlace";
    Random rnd = new Random();
    var pokemons = CardMethods.GetPokemonCards();
    var randomi = pokemons.OrderBy(x => rnd.Next()).Take(1);

}
﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Pokemon</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/profiili.css" />
    <script src="~/js/Navbar.js" defer></script>
</head>
<body>
    <h1>Profile</h1>

    <div class="taistelu">
        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" /> 
            }

        </div>

        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>

        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>

        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>

        <div class="kortti">
            @foreach (var card in randomi)
            {
                <img src=@card.images.small class="fill" draggable="true" width="150" height="185" />
            }

        </div>
    </div>
    <script src="~/js/korttiliike.js"></script>

</body>
