@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}



h1 {
    font-family: 'Fugaz One', cursive;
    font-variant: small-caps;
}

h3 {
    font-family: 'Fugaz One', cursive;
    font-variant: small-caps;
}
.loadScreen {
    position: fixed;
    background-color: black;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.hide {
    background-color: black;
    overflow: hidden;
}

    .hide span {
        transform: translateY(100%);
        display: inline-block;
    }

.slider {
    position: fixed;
    background-color: gray;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    display: flex;
    z-index: 4;
}

.loadScreen-text {
    color: white;
    font-size: 3rem;
}

.header {
    background: linear-gradient(90deg, rgba(255,246,118,1) 0%, rgba(249,212,64,1) 100%);
}

    .header img {
        text-align: center;
        top: 59%;
        left: 43%;
        transform: translate(-50%, -50%);
        width: 500px;
        position: absolute;
    }

    .header h1 {
        color: aqua;
        
    }

    .header span {
        color: pink;
        font-size: 110px;
        font-weight: 1500;
    }


#learnVideo {
    width: 100%;
    z-index: -1;
    object-fit: cover;
    margin-bottom: -3.2px;
}

.videodiv {
    margin-right: 160px;
}

.blackLineText {
    position: absolute;
    right: 3%;
    transform: rotate(90deg);
    top: 80%;
}

.blackLine {
    position: absolute;
    right: 5.4%;
    top: 90%;
    height: 80px;
    border-left: 1px solid black;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8em;
    margin-bottom: 8em;
    margin-left: 250px;
    margin-right: 250px;
}

.orange {
    background-color: darkorange;
    height: 120px;
    margin-top: 200px;
    margin-bottom: 100px;
}

    .orange img {
        bottom: 80px;
    }

.green {
    background-color: mediumseagreen;
    height: 120px;
    margin-top: 200px;
    margin-bottom: 100px;
}

    .green img {
        bottom: 80px;
        right: -50%;
    }

.blue {
    background-color: dodgerblue;
    height: 120px;
    margin-top: 200px;
    margin-bottom: 100px;
}

    .blue img {
        bottom: 80px;
    }

.info img {
    width: 16em;
}

.info.right {
    grid-template-areas: "left right";
}

    .info.right img {
        grid-area: right;
    }

.content.or {
    background-color: white;
    height: 180px;
    padding: 20px;
    margin-bottom: 20px;
    position: absolute;
    right: 15%;
    width: 500px;
    top: 123%;
}

.content.gr {
    background-color: white;
    height: 180px;
    padding: 20px;
    margin-bottom: 20px;
    position: absolute;
    left: 15%;
    width: 500px;
    top: 165%;
}

.content.bl {
    background-color: white;
    height: 180px;
    padding: 20px;
    margin-bottom: 20px;
    position: absolute;
    right: 15%;
    width: 500px;
    top: 207%;
}

#container {
    background-color: red;
}

.whenClicked {
    background-color: rgb(0,0,0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.darkSide {
    background: linear-gradient(180deg, rgba(154,80,190,0) 0%, rgba(90,47,111,0.8242647400757178) 30%, rgba(0,0,0,1) 70%);
    height: 200vh;
    z-index: -2;
}

.gengar {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 18em;
}

    .gengar img {
        width: 370px;
        z-index: 1
    }

.intro {
    font-size: 40px;
    position: absolute;
    left: 30%;
    right: 30%;
    text-align: center;
    margin-top: 3em;
}

.stormClouds {
    margin: 20px;
    position: absolute;
}

.move div {
    position: absolute;
}

.move img {
    width: 100px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.cloud1 img {
    margin-left: 250px;
    width: 600px;
    position: absolute;
    bottom: 8em;
    z-index: 2;
}


.cloud2 img {
    margin-left: 200px;
    width: 600px;
    position: absolute;
    bottom: -170px;
    z-index: 2;
}

.cloud2 {
    z-index: 2;
}

.cloud3 img {
    margin-left: 800px;
    width: 600px;
    position: absolute;
    bottom: 1em;
    z-index: -2;
}

.cloud4 img {
    margin-left: 660px;
    width: 600px;
    position: absolute;
    bottom: 5em;
    z-index: -2;
}

.cloud5 img {
    margin-left: 100px;
    width: 600px;
    position: absolute;
    bottom: 8em;
    z-index: -2;
}

.cloud6 img {
    margin-left: 200px;
    width: 600px;
    position: absolute;
    bottom: 8em;
    z-index: -2;
}

.cloud7 img {
    margin-left: 1000px;
    width: 600px;
    position: absolute;
    bottom: 1em;
    z-index: -2;
}

.cloud8 img {
    margin-left: 10px;
    width: 600px;
    position: absolute;
    bottom: 1em;
    z-index: -2;
}

.cloud9 img {
    margin-left: -200px;
    width: 150%;
    top: 1900px;
    position: absolute;
}

.scrollText {
    color: rebeccapurple;
    margin-left: 40%;
    margin-right: 35%;
    margin-top: 300px;
    position: absolute;
    font-size: 70px;
    z-index: 6;
}

.battleZone {
    background-color: black;
    height: 200vh;
}

    .battleZone img {
        width: 200px;
        margin-left: 70%;
    }



/*----CSS ANIMAATIO-----*/

@keyframes scroll-intro {
    0% {
        transform: scale(0, .025);
    }

    50% {
        transform: scale(1, .025);
    }
}

@media (prefers-reduce-motion: no-preference) {
    .anim-animation {
        animation-name: wipe-enter;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}



/*Animaatio Javascriptiin*/
.reveal {
    position: relative;
    opacity: 0;
}

    .reveal.active {
        opacity: 1;
    }

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
