
    .slideri {
        background-color: grey;
        height: 200px;
        width: 5076px;
        animation: slide 10s linear infinite;
      
        
       
    }
    .esitys{
     
        padding-top: 18px;

    }
@keyframes slide {
    0% {
        left: 0;
    }

    50% {
        left: 500px;
    }

    100% {
        left: 0;
    }
}