.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    max-width: 80%;
}

/*.rareCard{
    display: none;
}*/

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.modal-header .title {
        font-size: 1.25rem;
        font-weight: bold;
        color: white;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }



.modal-body {
    padding: 10px 15px;
    display: inline-block;
}




.modal-footer {
    text-align: center;
}

.close-button {
    cursor: pointer;
    height: 50px;
    width: 100px;
    margin-bottom: 20px;
    font-size: large;
    text-align: center;
    color: white;
    background-color: greenyellow;
    border-color: greenyellow;
    border-radius: 10px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


#overlay {
    position: fixed;
    opacity: 0;
    transition: 1s ease-in-out;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 30%;
    background-color: rgb(64, 109, 233);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#overlay2 {
    position: fixed;
    opacity: 0;
    transition: 1s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay2.active {
    opacity: 1;
    pointer-events: all;
}

.card {
    height: 300px;
    width: 200px;
    padding: 10px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card.active .content {
    transform: rotateY( 180deg );
    transition: transform 1s;
}

.front {
    height: 300px;
    width: 200px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    backface-visibility: hidden;
    background-image: url('../Images/pokemonkorttiplaceholder.png');
}


.front, .back {
    position: absolute;
    height: 300px;
    width: 200px;
    line-height: 300px;
    color: white;
    text-align: center;
    font-size: 60px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.back {
    background: #03446A;
    color: white;
    transform: rotateY( 180deg );
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokepallot img {
    width: 200px;
    margin-left: 80px;
    float: right;
    
}

.pokepallot {
    align-items: center;
    justify-content: space-between;
    margin-left: 280px;
}

.pokepallot div {
    float: right;
    margin-right: 130px;
    margin-left: 130px;
}
   
.liila {

    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    
}

.pinkki {
  
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    
}

.ball {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;
}



.red-half {
    height: 100px;
    width: 200px;
    background-color: red;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}



.white-half {
    height: 100px;
    width: 200px;
    background-color: white;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}




.black-band {
    position: relative;
    top: -105px;
    width: 200px;
    height: 14px;
    background-color: black;
}

.outer-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -147px;
    left: 63px;
    height: 60px;
    width: 60px;
    border: 7px solid black;
    border-radius: 50%;
    background-color: white;
}


.inner-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black
}

<<<<<<< HEAD

=======
>>>>>>> f9f0838dfde4ab24c8f1000fa3ac1db948aa9cc2
#raffleButton {
    height: -0px;
    width: -0px;
    border-radius: 50%;
    border: 1px solid black;
    
}
