.fill {
  
    background-size: 150px 150px;
    position: relative;
    height: 185px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.kortti {
    display: inline-block;
    height: 200px;
    width: 160px;
    margin: 10px;
    border: solid 4px blue;
    border-radius: 2%;
    background: white;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    position: relative;
    margin: 15px 0;
    height: 30px;
    width: 300px;
}

.progress-done {
    background: linear-gradient(to left, #F2709C, #FF9472);
    box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    width: 0;
    transition: 1s ease 0.3s;
}