/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: black; 
}

body {
    background: linear-gradient(#FFE600, #FFAB00);
    background-attachment: fixed;
}

p {
    font-family: 'DM Sans', sans-serif;
}

h1 {
    font-family: 'DM Sans', sans-serif;
}

header {
    height: 80px;
    margin-right: 15px;
}
.textbox {
    margin: 30px;
}

.textbox h1 {
    margin-bottom:20px;
}


.column {
    width: 100%;
    
}

.row {
    padding-right: 20px;
}

@media (min-width: 48em) {
    .column {
        width: 50%;
        float: left;
    }

    .columns {
        content: "";
        display: table;
        clear: both;
    }
}

.nav {
    background: linear-gradient(90deg, rgba(255,246,118,1) 0%, rgba(249,212,64,1) 100%);
    height: 90px;
    position: absolute;
    width: 100%;
    cursor: pointer;
    z-index: 2;
    top: 0;

}

    .nav img {
        width: 125px;
        margin-left: 300px;
    }

.nav li {
     margin-right: 40px;
}

.nav-item {
    font-family: 'DM Sans', sans-serif;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 30px;
    color: black;
    float: right;
    
}
.listItems {
    float: right;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    font-size: 20px;
    line-height: 80px;
}

.nav-link:hover {
    font-weight:bold;
}

.nav ul h1 {
    float: left;
}

.navText {
    color: black;
    z-index: 20;
}

.textStyle {
    color: white;
    z-index: 30;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.pokemon-image {
    width: 140px;
    margin-left: 60px;
}
