/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav {
    background: linear-gradient(90deg, rgba(255,246,118,1) 0%, rgba(249,212,64,1) 100%);
    height: 90px;
    position: absolute;
    width: 100%;
    cursor: pointer;
    z-index: 2;
    top: 0;
}

    .nav img {
        width: 125px;
        margin-left: 300px;
    }

.nav li {
     margin-right: 40px;
}

.listItems {
    float: right;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    font-size: 20px;
    line-height: 80px;
}

.nav a:hover {
    color: white;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.nav ul h1 {
    float: left;
}

.navText {
    color: black;
    z-index: 20;
}

.textStyle {
    color: white;
    z-index: 30;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}